bin*
*.svn*
.classpath
.project
.manager
*.class
.svnignore
javarebel.lic
all.txt
allWithoutScala.txt
text.rb
.gitignore
target*
.settings
*.iml
*.ipr
*.iws
*.jar
*.log
out/*
target/
lib_managed/
src_managed/
project/boot/
build/